**
!src/
!src/common/
!src/common/**
!src/server/
!src/server/**
!src/client/
!src/client/**
!deps/
!deps/thirdparty/
!deps/thirdparty/**
!web/
!web/**
!scripts/
!scripts/fetch-sqlite.sh
!scripts/sqlite.version
!scripts/fetch-opus.sh
!scripts/version-defines.sh