yap
bin/
client/miniaudio/*.a
client/miniaudio/*.lib
client/miniaudio/*.o
client/miniaudio/*.obj
client/rnn/*.a
client/rnn/*.lib
client/rnn/*.o
client/rnn/*.obj
client/tray/*.a
client/tray/*.lib
client/tray/*.o
client/tray/*.obj
web/out/
